@model KakaocallWebApp.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="text-center">
    <h1 class="display-4 text-danger">Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    <p>
        <a asp-controller="Home" asp-action="Index">홈으로 돌아가기</a>
    </p>
</div>
